<%- include('./partials/head.ejs') %>

<main>
  <h1><%= squad.name %></h1>

  <nav>
    <a href="/?squad=squad-a-2022">Squad A</a>
    <a href="/?squad=squad-b-2022">Squad B</a>
    <a href="/?squad=squat-c-2022">Squat C</a>
  </nav>

  <section class="card-grid">
    <!-- Het renderen van alle studenten
      door het verstuurde api object(bundel van alles members)
      een voor een te verwerken en tonen tot alle members getoond worden
      -->
    <% squad.members.forEach(member => { %>
    <article>
      <section class="card-img">
        <h2><%= member.name %> <%= member.prefix %> <%= member.surname %></h2>
        <h3><%= member.nickname %></h3>
        <% if (member.avatar) { %>
        <img
          class="img-card"
          src="<%= member.avatar %>"
          alt="De avatar van <%= member.name %>"
        />
        <% }else{ %>
        <img
          class="img-card"
          src="./assets/voorbeeld.jpeg"
          alt="Placeholder avatar"
        />
        <% } %>
      </section>

      <section class="card-text">
        <p><%= member.bio.html %></p>
        <a href="https://github.com/<%= member.gitHubHandle %>">
          <img src="./assets/github.svg" alt=""/>
        </a>
      </section>
    </article>
    <% }) %>
  </section>
</main>

<%- include('./partials/footer.ejs') %>
